<p><br></p>
<div class="container">
    <div class="row">
        <div class="col-6">
            <form>
                <div class="form-group">
                    <label for="costumerName">Name</label>
                    <input type="text" class="form-control" id="costumerName" aria-describedby="emailHelp" placeholder="Enter Name">
                </div>
                <div class="form-group">
                    <label for="companyName">Company Name</label>
                    <input type="text" class="form-control" id="companyName" aria-describedby="emailHelp" placeholder="Enter Company Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="number" class="form-control" id="phoneNumber" aria-describedby="emailHelp" placeholder="Enter Phone Number">
                </div>
                <div class="form-group">
                    <label for="requirments1">Requirments</label>
                    <input type="text" class="form-control" id="requirments1" aria-describedby="emailHelp" placeholder="Enter Requirments">
                </div>
                <input type="text" class="form-control" id="requirments2" aria-describedby="emailHelp" placeholder="Enter Requirments">
                <br>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked> CLOSED
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="options" id="option2" autocomplete="off"> UNCLOSED
                    </label>
                </div>
                <br><br>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input type="radio" name="options" id="option3" autocomplete="off" checked> QUOTED
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="options" id="option4" autocomplete="off"> UNQUOTED
                    </label>
                </div>
                <BR><br>
                <button type="submit" class="btn btn-primary">Add Lead</button><br><br>
            </form>

        </div>
    </div>
</div>